render {
    align-items: center;
    direction: row;
    gap: 250px;
}

game {
    text-align: center;
    align-items: center;
    direction: column;
    gap: 100px;
}

sidebar {
    padding: 50px;
    margin-bottom: 400px;
    direction: row;
    gap: 100px;
}

upgrades {
    align-items: center;
    margin-bottom: 200px;
    direction: column;
    gap: 50px;
}

stats {
    margin-left: 50px;
    direction: column;
    gap: 50px;
}

cookie-display {
    text-align: center;
    font-size: 35px;
}

clicker {
    font-size: 25px;
}

upgrade {
    direction: column;
    gap: 15px;
}

upgrade-title {
    font-size: 14px;
}

purchase-button {
    font-size: 14px;
}

stat {
    width: 100px;
    font-size: 10px;
}

data {
    align-items: center;
    direction: column;
    gap: 15px;
}

data-buttons {
    align-items: center;
    gap: 5px;
}

vertical-layout {
    direction: column;
}